@import 'Style/colors.scss';
@import 'Style/typography.scss';
@import 'Style/input.scss';

.auth-container {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .tyr-drop {
    fill: $white;
  }
  .bottom-text {
    margin-top: 1rem;
    .link {
      &:hover,
      &:visited,
      &:link {
        outline: none !important;
        text-decoration-color: rgba($color: $white, $alpha: 0.7);
        text-decoration-style: dashed;
        color: $white;
      }
    }
  }
}

.auth-msg {
  color: $white;
  padding: 1rem;
  text-transform: capitalize;
  width: 100%;
  box-sizing: border-box;
  max-width: 450px;
  border-radius: 4px;
  margin-bottom: 1rem;
  .head {
    font-size: 1.3rem;
    font-weight: $thicc;
  }
  .msg {
    font-weight: $regular;
  }
}

.auth-msg-SUCC {
  @extend .auth-msg;
  background-color: $green;
}

.auth-msg-ERR {
  @extend .auth-msg;
  background-color: $red;
}

.auth-header {
  margin: 2rem 0;
  span {
    color: $white;
    vertical-align: middle;
    display: inline-block;
    font-size: 2rem;
    font-weight: $thicc;
  }
  .icon {
    vertical-align: middle;
    display: inline-block;
    height: 4rem;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark;
  background-color: $white;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  max-width: 450px;
  border-radius: 4px;
  @media screen and (max-width: 450px) {
    border-radius: 0;
  }
  .form-label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .text-input {
    width: 100%;
    margin: 0.5rem 0;
  }
  .button {
    width: 100%;
    margin: 0.5rem 0;
  }
}
