// main scheme
$dark-purp: #4d446f;
$purp: #5343b3;
$light-purp: #828dd3;
$dark-teal: #7cadd5;
$teal: #7dc6d5;
$light-teal: #a6cdd2;

$bg: #edf0f6;

$primary: $purp;
$secondary: $teal;

// additional colors
$blue: #5c7aff;
$red: #e27a70;
$green: #61e786;
$orange: #ff8552;
$pink: #ef2d56;

// greyscale stuff
$white: white;
$light: #e6e6e6;
$dark: #39393a;
$grey: #39424e;
