@import './typography.scss';
@import './colors.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  // IBM Plex with System Font fallback
  font-family: $default-font;
  background-color: #fff;
  background-color: $bg;
}

.loading-bar {
  z-index: 9999;
  height: 2px;
  background-color: $green;
  position: absolute;
}

#app {
  position: relative;

  &:before {
    position: absolute;
    width: 100vw;
    height: 10rem;
    background-color: $light-purp;
    top: 0;
    right: 0;
    content: '';
    z-index: -1;
  }
}
