@import './typography.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  // IBM Plex with System Font fallback
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}
