@import './colors.scss';

.no-link-style {
  &:hover,
  &:visited,
  &:link {
    outline: none !important;
    text-decoration: none;
    color: $white;
  }
}

.text-input {
  font-family: $default-font;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: #f4f5f7;
  border: 2px solid #e7e7e7;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  &:active {
    border-color: $primary;
  }
  &:focus {
    border-color: $primary;
  }
}

.button {
  outline: none;
  border: none;
  color: $white;
  padding: 1rem 0.5rem;
  background-color: $primary;
  font-family: $default-font;
  font-size: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  &:hover {
    cursor: pointer;
    filter: brightness(105%);
    transition: filter 200ms ease-in-out;
  }
}

.button-success {
  @extend .button;
  background-color: $green;
}

.button-info {
  @extend .button;
  background-color: $blue;
}

.button-error {
  @extend .button;
  background-color: $red;
}
