$font-prefix: '~/@ibm/plex';
@import '~@ibm/plex/scss/ibm-plex.scss';

// font weights
$thicc: 500;
$regular: 400;
$thin: 200;

$default-font: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
