.listrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  .listelement {
    flex: 2;
  }
  span {
    text-align: right;
    flex: 1;
  }
}
