@import 'Style/colors.scss';
@import 'Style/typography.scss';
@import 'Style/input.scss';

// Remove default link styling
a {
  &:visited,
  &:link {
    outline: none !important;
    text-decoration: none;
    color: inherit;
  }
}

.dashboard {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 0;
  padding-top: 5rem;
  color: $dark;
}
