@import '../../style/colors.scss';

.dashboard {
  // we need this t
  margin-left: 85px;
  width: calc(100vw - 85px);
  height: 100vh;
  display: flex;

  .header {
    margin-bottom: 30px;
  }

  .content-dashboard {
    padding: 30px;
    width: 100%;
    height: 100%;
  }
}