@import "../../style/colors.scss";

.sidebar-main {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $purp;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    height: 100%;
    width: 75px;
}

.icon-sidebar {
    margin: 10px;
}